<div class="container text-center">

  <h1>Register</h1>
  <div class="row justify-content-center">
    <form class="col-12 col-lg-6">
      <div class="row mb-2">
        <input class="form-control"
               type="text"
               placeholder="login/email"
               [(ngModel)]="user.login"
               name="reg_user_login_input"
               #reg_user_login_input
               required maxlength="35" />
      </div>

      <div class="row mb-2">
        <input class="form-control"
               type="password"
               placeholder="password"
               [(ngModel)]="user.password"
               name="reg_user_password_input"
               #reg_user_password_input
               required maxlength="35" />
      </div>

      <div class="row mb-3">
        <input class="form-control"
               type="password"
               placeholder="confirm password"
               [(ngModel)]="confirmpass"
               name="confirm_password"
               #confirm_password
               required maxlength="35" />
      </div>

      <div class="row">

        <div class="col-6">
          <button class="btn btn-primary" #regbut name="regbut">Register</button>
        </div>

        <div class="col-6">
          <button class="btn btn-warning" #resetbut name="resetbut">Reset</button>
        </div>

      </div>

    </form>


  </div>

</div>
